{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "jsx",
          "tsx",
          "json",
          "md"
        ],
        "plugins": [
          "autolinker",
          "autoloader"
        ],
        "css": true
      }
    ]
  ]
}
