{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "jsx", "tsx", "json"],
        "plugins": [
          "autolinker",
          "autoloader",
          "toolbar"
        ],
        "css": true
      }
    ]
  ]
}
